.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;

	h1 {
		color: #3d405b;
		font-size: 8rem;
		margin: 0;
		margin-bottom: 24px;
	}

	h2 {
		font-size: 2.4rem;
		margin: 0;
		color: #f2cc8f;
	}

	button {
		background: transparent;
		border: 2px solid transparent;
		text-align: center;
		font-size: 1.2rem;
		border-radius: 16px;
		padding: 8px 20px;
		cursor: pointer;
		margin: 0 10px;
		transition: background-color 0.2s ease-in-out;

		&.minus {
			background-color: #e07a5f;
			color: #1a1b27;

			&:hover {
				background-color: #ffa273;
			}
		}

		&.plus {
			background-color: #81b29a;
			color: #1a1b27;

			&:hover {
				background-color: #9fd7bb;
			}
		}
	}
}
